<tr id="loan_<%= loan.id %>">
  <td><%= loan.id %></td>
  <td><%= loan.user.email %></td>
  <td><%= number_with_precision(loan.amount, precision: 2) %></td>
  <td><%= loan.interest_rate %>%</td>
  <td><%= number_with_precision(loan.total_amount, precision: 2) %></td>
  <td><%= loan.status.humanize %></td>
  <td><%= time_ago_in_words(loan.created_at) %></td>
  <td><%= time_ago_in_words(loan.updated_at) %></td>
  <td>
    <% if loan.requested? %>
      <%= link_to "Approve Without Adjustment", approve_admin_loan_path(loan), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to approve this loan?" }, class: "btn btn-success btn-sm" %>
      <%= link_to "Approve With Adjustment", get_modal_popup_admin_loan_path(loan), data: { turbo_frame: "_top", turbo_action: "replace", turbo_method: :get, turbo: false, remote: true }, "data-controller": "modal", class: "btn btn-success btn-sm" %>
      <%= link_to "Reject", reject_admin_loan_path(loan), data: { turbo_method: :patch, turbo_confirm: "Are you sure? You want to Reject this Loan ?" }, class: "btn btn-danger btn-sm" %>
    <% elsif loan.readjustment_requested? %>
      <%= link_to "Reject Adjustment", reject_admin_loan_path(loan, type: 'reject_adjustment'), data: { turbo_method: :patch }, class: "btn btn-danger btn-sm" %>
      <%= link_to "Add Re-adjustment", get_modal_popup_admin_loan_path(loan), data: { turbo_frame: "_top", turbo_action: "replace", turbo_method: :get, turbo: false, remote: true }, "data-controller": "modal", class: "btn btn-success btn-sm" %>
    <% else %>
      <%= 'none' %>
    <% end %>
  </td>
  <td><%= link_to "Show", loan_path(loan), class: "btn btn-danger btn-sm" %></td>
</tr>

